# K means Algorithm 
<p>using the K_mean for the movie review , the purpose of the this project is to find the relation between the different types of movies <p>

## Dataset overview

In [1]:
# importing the data and necessary packages 
import pandas as pd 
import numpy as np
import helper
from scipy.sparse import csr_matrix 
import matplotlib.pyplot as plt

In [7]:
links  = pd.read_csv("ml-latest-small/links.csv")
movies = pd.read_csv("ml-latest-small/movies.csv")
ratings  = pd.read_csv("ml-latest-small/ratings.csv")
tags   = pd.read_csv("ml-latest-small/tags.csv")

In [8]:
links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [9]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [10]:
print('The dataset contains: ', len(ratings), ' ratings of ', len(movies), ' movies.')

The dataset contains:  100004  ratings of  9125  movies.

In [ ]:
# calculating the average arting of romance and scify movies 

genre