

* kartikey shaurya
* date of creation = 6 Nov 2020 :-)
* Last Modified =

In [1]:
#importing the resources 
import numpy as np 
import pandas as pd

# 5-6 main steps 
*   1.1 understanding the dataset 
*   1.2 Data Processing 
*   2.1 Bags of Words 
*   2.2 Implementing the bag of Words from scratch
    1. step 1 converting the strings to lowercase 
    2. step 2 Removing the puncations 
    3. step 3 Tokienisation 
    4. step 4 counting the frequencies 
*   2.3 Implemeting the bag of words in scikit-learn 
*   3.1 training and Testing sets 
*   3.2 applying the bags of words Processing to our dataset
*   4.1 Bayes Theorem Implementation from scratch 
*   4.2 Naive Bayes Implementation from scratch 
*   5. Naive Bayes Implementation using scikit-learn 
*   6. Evaluating the model 
*   7. Reading the conclusions

In [52]:
# loading the pandas 

df = pd.read_table('smsspamcollection/SMSSpamCollection', 
                    sep = '\t' , 
                    header = None ,
                    names = ['label', 'sms'])

# Output priniting out first 5 columns 

df.head()

  label                                                sms
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [53]:
# step 1.2 data processing 
# converting the ham into 0 
# spam into 1 
# printing the shape 


df['label'] = df.label.map(({'ham':0, 'spam':1}))

In [54]:
print(df['label'])

0       0
1       0
2       1
3       0
4       0
       ..
5567    1
5568    0
5569    0
5570    0
5571    0
Name: label, Length: 5572, dtype: int64

In [55]:
# steps 2.1 Bags of Words 
# converting all the Strings into lowercase 

lowercase = []
for i in df['sms']:
    lowercase.append(i.lower())

In [57]:
print(a[2])

free entry in 2 a wkly comp to win fa cup final tkts 21st may 2005. text fa to 87121 to receive entry question(std txt rate)t&c's apply 08452810075over18's

In [67]:
# step 2.2 removing the punctations 
import string

a = lowercase[:200]
g = 0

table = str.maketrans(dict.fromkeys(string.punctuation))
without_lowercase = []

for i in a:
    
    without_lowercase.append(i.translate(table))

['go until jurong point crazy available only in bugis n great world la e buffet cine there got amore wat', 'ok lar joking wif u oni', 'free entry in 2 a wkly comp to win fa cup final tkts 21st may 2005 text fa to 87121 to receive entry questionstd txt ratetcs apply 08452810075over18s', 'u dun say so early hor u c already then say', 'nah i dont think he goes to usf he lives around here though', 'freemsg hey there darling its been 3 weeks now and no word back id like some fun you up for it still tb ok xxx std chgs to send £150 to rcv', 'even my brother is not like to speak with me they treat me like aids patent', 'as per your request melle melle oru minnaminunginte nurungu vettam has been set as your callertune for all callers press 9 to copy your friends callertune', 'winner as a valued network customer you have been selected to receivea £900 prize reward to claim call 09061701461 claim code kl341 valid 12 hours only', 'had your mobile 11 months or more u r entitled to update to the latest colour mobiles with camera for free call the mobile update co free on 08002986030']

'string With Punctuation'